<div class="main posts-new">
  <div class="container">
    <div class="form">
      <div class="form-body">
        <div class="field">
          <%= image_tag @memo.icon %><%= "タイトル：#{@memo.title}" %>
        </div>
          <p>内容</p>
        <div class="show-field">
          <%= @memo.content %>
        </div>
          <p><%= "文字数：#{@memo.content.size}" %></p>
        <div class="contents-button">
          <%= link_to '削除', memo_path, method: :delete, data: { confirm: '本当に削除しますか?' } %>
          <%= link_to '編集', edit_memo_path %>
        </div>
      </div>
    </div>
  </div>
</div>