<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>GraduateApp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <li><%= link_to "OnlineSimpleMemo", root_path %></li>
      </div>
      <div class="drawer_menu">
        <div class="drawer_bg"></div>
          <button type="button" class="drawer_button">
            <span class="drawer_bar drawer_bar1"></span>
            <span class="drawer_bar drawer_bar2"></span>
            <span class="drawer_bar drawer_bar3"></span>
            <span class="drawer_menu_text drawer_text">MENU</span>
            <span class="drawer_close drawer_text">CLOSE</span>
          </button>
        <nav class="drawer_nav_wrapper">
          <ul class="drawer_nav">
            <% if user_signed_in? %>
              <li><%= link_to "新規作成", new_memo_path %></li>
              <li><%= link_to 'メモ一覧', memos_path %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              <li><%= "#{current_user.name}"%></li>
            <% else %>
              <li><%= link_to "新規登録", new_user_registration_path %></li>
              <li><%= link_to "ログイン", new_user_session_path %></li>
            <% end %>
            <% if notice %>
              <p class="alert alert-notice"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert alert-error"><%= alert %></p>
            <% end %>
          </ul>
        </nav>
      </div>
<!-- jQuery読み込み -->
      <script src="https://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
      <script>
        $(function () {
	
	      $('.drawer_button').click(function () {
		      $(this).toggleClass('active');
		      $('.drawer_bg').fadeToggle();
		      $('nav').toggleClass('open');
	      })
	      $('.drawer_bg').click(function () {
		      $(this).fadeOut();
		      $('.drawer_button').removeClass('active');
		      $('nav').removeClass('open');
	      });
         })
      </script>
    </header>

    <%= yield %>
  </body>
</html>